/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Leech */

body {
	font-family: 'Helvetica Neue';
	color: white;
	background-color: #1C1C1C;
	text-align: center;
}

#contents {
  padding-top: 0;
  max-height: 100%;
}

#query {
  padding-top: 2em;
  text-align: center;
  margin-left: 1em;
}

#query form {
  margin-left: 0.25em;
}

#query input {
  background-color: #1C1C1C;
  border-color: #3E3E3E;
  color: white;
  width: 60%;
  border-radius: 0.25em;
  padding: 0.25em;
  font-size: 2em;
  font-family: "Monaco", "Courier";
}

#results {
  padding-top: 1em;
  padding-bottom: 2em;
  margin: auto;
  text-align: left;
  margin-left: 1em;
  margin-right: 1em;
  font-family: "Monaco", "Courier";
  line-height: 1.25em;
}

#results p {
  margin: 0.5em;
}

#results p.psmgr {
  color: #FF73FD; }
#results p.runtime {
  color: #FF73FD; }

#results p.codex {
  color: #FFFFB6; }
#results p.codon {
  color: #FFFFB6; }
#results p.slugc {
  color: #FFFFB6; }
#results p.gitproxy {
  color: #FFFFB6; }

#results p.core {
  color: #A8FF60; }
#results p.balrog {
  color: #A8FF60; }
#results p.memcache {
  color: #A8FF60; }

#results p.hermes {
  color: #96CBFE; }
#results p.varnish {
  color: #96CBFE; }
#results p.nginx {
  color: #96CBFE; }
#results p.face {
  color: #96CBFE; }
#results p.logplex {
  color: #96CBFE; }
#results p.apollo {
  color: #96CBFE; }

#results p.shen {
  color: #FF6C60; }
#results p.pgmonitor {
  color: #FF6C60; }

#results p.su {
  color: #C6C5FE; }
#results p.syslog-ng {
  color: #C6C5FE; }
#results p.syslog {
  color: #C6C5FE; }
#results p.slapd {
  color: #C6C5FE; }
#results p.kernel {
  color: #C6C5FE; }
#results p.heroku {
  color: #C6C5FE; }
#results p.sshd {
  color: #C6C5FE; }
